{% extends 'base.html'%}
{% block head %}
{% endblock%}
{% block body%}
    <section class="container-fluid px-0">
        <div class="mainHeader row align-items-center">
            <div class="col-lg">
                <div id="headingGroup" class="text-white text-center d-none d-lg-block mt-5">
                    <h1>Imali</h1>
                </div>
            </div>
        </div>
  
    

    <section class="container-fluid px-0">
        
        <div class=" align-items-center content">
            
            <div class=" text-center order-1 order-md-2">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                        <h2>Donate!</h2>
                        <p class="lead">This isn't just any ordinary tech sales class. We build your sales skills, teach you about the tech industry, improve you confidence and welcome you to a remote work comunity filled with experienced tech experts and mentors <br>
                            At the end of your program, you will be placed in a paid sales internship to help you build your online career experiences as a black athlete in the tech sales industry</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-5">
            <div class="container">

                <div class="row">
                    <div class="col-lg-6 mx-auto">
        
                        <!-- CUSTOM BLOCKQUOTE -->
                        <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
                            <div class="blockquote-custom-icon bg-info shadow-sm"><i class="fa fa-quote-left text-white"></i></div>
                            <p class="mb-0 mt-2 font-italic">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo <a href="#" class="text-info">@consequat</a>."</p>
                            <quotefooter class="blockquote-footer pt-4 mt-4 border-top">Someone famous in
                                <cite title="Source Title">Source Title</cite>
                            </quotefooter>
                        </blockquote><!-- END -->
        
                    </div>
                </div>
            </div>
        </div>
        
    </section>
    {% endblock%}
