{% extends 'base.html'%}


			<!-- Hero -->
			
		{%block pageID%}
		<body class="{{page}} is-preload">
		{%endblock%}
		{%block homepagebackground%}
		<section id="hero" class="container">
			<header>
				<h2>Imali is a...</a></h2>
			</header>
			<p>Imali is a place that encourages creativity, ingenuity and inventiveness. As an athlete, your skills and traits are directly transferable to the tech sales field.</p>
		</section>
		{%endblock%}
		{%block body%}
	<!-- Features 1 -->
		<div class="wrapper">
			<div class="container">
				<div class="row">
					<section class="col-12 col-18-narrower feature">
						<div class="image-wrapper">
							<img src="static/images/Photos/pexels-mikael-blomkvist-6476372.jpg" style="width:500px; border-radius: 10px;" alt="" /></a>
							
						</div>
						<header>
							<h2>Why Us?</h2>
						</header>
						<p>
							This isn't just any ordinary tech sales class. We build you sales skills, teach you about the tech industry, improve your confidence<br>
							and welcome you to a remote work comunity filled with experienced tech sales experts and mentors<br><br>
							At the end of your program, you will be placed in a paid sales internship to help you build online career experience as a black athlete<br>
							in the tech sales industry
						</p>
						<ul class="actions">
							<li><a href="#" class="button">More About This</a></li>
						</ul>
					</section>
				</div>
			</div>
		</div>

	<!-- Promo -->
		<div id="promo-wrapper" style="background-image: url('static/images/Photos/Sportsbuisness.jpg');background-repeat: no-repeat;background-attachment: fixed;background-size: cover; ">
			<section id="promo">
				<h2>Want to know how you can translate sports into a career</h2>
				<a href="#" class="button">Explore!</a>
			</section>
		</div>

	<!-- Features 2 -->
		<div class="wrapper">
			<section class="container">
				<header class="major">
					<h2>Sed magna consequat lorem curabitur tempus</h2>
					<p>Elit aliquam vulputate egestas euismod nunc semper vehicula lorem blandit</p>
				</header>
				<div class="row features">
					<section class="col-4 col-12-narrower feature">
						<div class="image-wrapper">
							<a href="#" class="image featured"><img src="static/images/Photos/pexels-pixabay-327540.jpg" style="border-radius: 10px;" alt="" /></a>
						</div>
						<p>
							Interested in our ideas. Partener with us!
						</p>
					</section>
					<section class="col-4 col-12-narrower feature">
						<div class="image-wrapper">
							<a href="#" class="image featured"><img src="static/images/Photos/pexels-ron-lach-7983357.jpg" style="border-radius: 10px;" alt="" /></a>
						</div>
						<p>
							Image of our choice here, or no image at all, just showing all options
						</p>
						
					</section>
					<section class="col-4 col-12-narrower feature">
						<div class="image-wrapper">
							<a href="#" class="image featured"><img src="static/images/Photos/pexels-mikael-blomkvist-6476372.jpg" style="border-radius: 10px;" alt="" /></a>
						</div>
						<p>
							Image of our choice here, or no image at all, just showing all options
						</p>
					</section>
		</div>
		
				
				
			</div>
			
		</section>



	</div>

	<!-- Scripts -->

	{%endblock%}