{% extends 'base.html'%}


			<!-- Hero -->
			
		{%block pageID%}
		<body class="{{page}} is-preload">
		{%endblock%}
		{%block homepagebackground%}
		<section id="hero" class="container">
			<header>
				<h2>Imali is a...</a></h2>
			</header>
			<p>(Work out as a group later, also the background seems slighly plain, we can talk about this later)</p>
		</section>
		{%endblock%}
		{%block body%}
	<!-- Features 1 -->
		<div class="wrapper">
			<div class="container">
				<div class="row">
					<section class="col-12 col-18-narrower feature">
						<div class="image-wrapper">
							<img src="static/images/pic01.jpg" alt="" /></a>
							<p>
								Image of our choice here, or no image at all, just showing all options
							</p>
						</div>
						<header>
							<h2>Why Us?</h2>
						</header>
						<p>
							This isn't just any ordinary tech sales class. We build you sales skills, teach you about the tech industry, improve your confidence<br>
							and welcome you to a remote work comunity filled with experienced tech sales experts and mentors<br><br>
							At the end of your program, you will be placed in a paid sales internship to help you build online career experience as a black athlete<br>
							in the tech sales industry
						</p>
						<ul class="actions">
							<li><a href="#" class="button">More About This</a></li>
						</ul>
					</section>
				</div>
			</div>
		</div>

	<!-- Promo -->
		<div id="promo-wrapper">
			<section id="promo">
				<h2>Neque semper magna et lorem ipsum adipiscing</h2>
				<a href="#" class="button">Explore!</a>
			</section>
		</div>

	<!-- Features 2 -->
		<div class="wrapper">
			<section class="container">
				<header class="major">
					<h2>Sed magna consequat lorem curabitur tempus</h2>
					<p>Elit aliquam vulputate egestas euismod nunc semper vehicula lorem blandit</p>
				</header>
				<div class="row features">
					<section class="col-4 col-12-narrower feature">
						<div class="image-wrapper first">
							<a href="#" class="image featured"><img src="static/images/pic03.jpg" alt="image" /></a>
						</div>
						<p>Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur
						vel sem sit dolor neque semper magna lorem ipsum.</p>
					</section>
					<section class="col-4 col-12-narrower feature">
						<div class="image-wrapper">
							<a href="#" class="image featured"><img src="static/images/pic04.jpg" alt="" /></a>
						</div>
						<p>Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur
						vel sem sit dolor neque semper magna lorem ipsum.</p>
					</section>
					<section class="col-4 col-12-narrower feature">
						<div class="image-wrapper">
							<a href="#" class="image featured"><img src="static/images/pic05.jpg" alt="" /></a>
						</div>
						<p>Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur
						vel sem sit dolor neque semper magna lorem ipsum.</p>
					</section>
				</div>
				<ul class="actions major">
					<li><a href="#" class="button">Learn More</a></li>
				</ul>
			</section>
		</div>



	</div>

	<!-- Scripts -->

	{%endblock%}