{% extends 'base.html'%}


			<!-- Hero -->
			
		{%block pageID%}
			<body class="{{page}} is-preload">
		{%endblock%}
		{%block homepagebackground%}
		{%endblock%}
		{%block body%}
        <div class="wrapper">
            <div class="container" id="main">
            
                <div class="row gtr-150">
                    <div class="col-4 col-12-narrower">
    
                        <!-- Sidebar -->
                            <section id="sidebar">
                                <section>
                                    <header>
                                        <h3>Who's Hiring</h3>
                                    </header>
                                    <p>Both B2B and B2C tech companies are booming around the world, and they’re looking to hire.</p>
                                    <ul class="actions">
                                        <li><a href="#" class="button">I'm Interested!</a></li>
                                    </ul>
                                </section>
                                <section>
                                     <header>
                                        <h3>$ 5 Trillion</h3>
                                    </header>
                                    <p>The Global Technology Market is $5 trillion today and is projected to have 5% compound annual growth rate through 2024.</p>
                                  
                                </section>
                            </section>
    
                    </div>
                    <div class="col-8 col-12-narrower imp-narrower">
    
                        <!-- Content -->
                            <article id="content">
                                <header>
                                    <h2>About Us</h2>
                                </header>
                                <p>As an athlete, your traits and problem solving skills are not only transferable but incredibly 
                                    lucrative to software sales. This industry has a low barrier for entry in numerous companies 
                                    that have sales departments like Google, Amazon, Shopify and Spotify. Finding a sales role could 
                                    take less than 6 months with no experience as sales people are always in demand. Build your future 
                                    in tech sales with Imali through a number of courses( number of programs) that focus on providing 
                                    conceptual and practical guidance on tech sales and tech entrepreneurship. Our programs are led by 
                                    accomplished tech sales experts who will guide and teach you the strategies needed to understand sales 
                                    planning and management.</p>
                                <p>Skill such as communication and collaboration are an essential part of sports, and they can always be found
                                    within athletes, however not many of them are aware of what they posses or how they can use said skills. The tech sales and 
                                    buisness department requires many skills that athletes usually have which is why they are such a good fit for those jobs, but
                                    not many people are aware of that.That is why with the help of our courses, we will be able to reach out to athletes and teach them how to use those skills
                                    as well as give them the tools necessary in order for a smooth transition between sports and the buisness sector.
                                </p>
                                <p>We whish to see many athletes become succesful, however not all athletes make it to the big leagues, so we offer them an alternative!</p>
                            </article>
    
                    </div>
                </div>
            </div>
        </div>
        </div>
        












        

	<!-- Scripts -->

	{%endblock%}