{% extends 'base.html'%}


			<!-- Hero -->
			
		{%block pageID%}
			<body class="homepage is-preload">
		{%endblock%}
		{%block homepagebackground%}
			<section id="hero" class="container">
				<header>
					
						<h2><img src="static/images/loho (1).png" style="width:100px; height:100px;display: inline; padding-bottom: 0; position:relative; top:30px;">Imali</h2>
				</header>
				<p>Technology Career Training for Young Athletes</p>
			</section>
		{%endblock%}
		{%block body%}
	<!-- Features 1 -->
		<div class="wrapper">
			<div class="container">
				<div class="row">
					<section class="col-12 col-18-narrower feature">
						<div class="image-wrapper">
							<img src="static/images/pexels-mikael-blomkvist-6476372.jpg" style="width:500px; border-radius: 10px;" alt="" /></a>
							
						</div>
						<header>
							<h2>Why Us?</h2>
						</header>
						<p>
							This isn't just any ordinary tech sales class. We build you sales skills, teach you about the tech industry, improve your confidence<br>
							and welcome you to a remote work comunity filled with experienced tech sales experts and mentors<br><br>
							At the end of your program, you will be placed in a paid sales internship to help you build online career experience as a black athlete<br>
							in the tech sales industry
						</p>
						<ul class="actions">
							<li><a href="#" class="button">More About This</a></li>
						</ul>
					</section>
				</div>
			</div>
		</div>

	<!-- Promo -->
		<div id="promo-wrapper" style="background-image: url('static/images/Sportsbuisness.jpg');background-repeat: no-repeat;background-attachment: fixed;background-size: cover; ">
			<section id="promo">
				<h2>Want to know how you can translate sports into a career</h2>
				<a href="/login" class="button">Join Us!</a>
			</section>
		</div>

	<!-- Features 2 -->
		<div class="wrapper">
			<section class="container">
				<header class="major">
					<h2>What does Imali Offer?</h2>
					<p> </p>
				</header>
				<div class="row features">
					<section class="col-4 col-12-narrower feature">
						<div class="image-wrapper">
							<a href="Partners" class="image featured"><img src="static/images/pexels-pixabay-327540.jpg" style="border-radius: 10px;" alt="" /></a>
						</div>
						<header>
							<h2>One-on-One Mentorship</h2>
						</header>
						<p>
							Meet with experts in the field that will be able to provide information and advice as well as be their mentors.
						</p>
					</section>
					<section class="col-4 col-12-narrower feature">
						<div class="image-wrapper">
							<a href="/aboutus" class="image featured"><img src="static/images/pexels-ron-lach-7983357.jpg" style="border-radius: 10px;" alt="" /></a>
						</div>
						<header>
							<h2>Career Training</h2>
						</header>
						<p>
							At the end of the program participants will be able to sell a product, have the chance to learn how to create their own business from scratch with the help of
experienced sales professionals.
						</p>
						
					</section>
					<section class="col-4 col-12-narrower feature">
						<div class="image-wrapper">
							<a href="/login" class="image featured"><img src="static/images/pexels-mikael-blomkvist-6476372.jpg" style="border-radius: 10px;" alt="" /></a>
						</div>
						<header>
							<h2>Networking</h2>
						</header>
						<p>
							Chance to network with other athletes and make relevant connections that could turn into opportunities such as jobs,partnerships and internships
						</p>
					</section>
		</div>
		
				
				
			</div>
			
		</section>



	</div>

	<!-- Scripts -->

	{%endblock%}